/* #toplevel_page_schedula .wp-menu-image {
  position: relative !important;
  text-align: unset !important;
  margin: 0 3px 0 3px !important;
}
#toplevel_page_schedula .wp-menu-image img {
  position: absolute !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
 */
